/* EditUser.css */
.edit-user-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.edit-user-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-user-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-user-form select,
.edit-user-form input[type="text"],
.edit-user-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.edit-user-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.edit-user-form button:hover {
  background-color: #0056b3;
}
