@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Header.css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717; /* Black background */
  color: #ffd700; /* Golden color */
  height: 10vh;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logo {
  /* height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav {
  display: flex;
  align-items: center;
}
.profile-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
  bottom: 0px;
}

.nav-links li {
  /* margin-right: 20px; */
  padding: 20px;
}

.nav-links li a {
  color: #ffd700; /* Golden color */
  text-decoration: none;
  transition: border-bottom 0.3s ease;
  cursor: pointer;
}
.nav-links li:hover {
  margin-bottom: -18px;
  border-bottom: 1px solid #ffd700;
  border-width: 5px; /* Golden color */
}

.nav-links li a.active {
  color: #fff;
}
.username {
  color: #ffd700; /* Golden color */
}

/* Hamburger menu */
.hamburger {
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  background-color: #ffd700; /* Golden color */
}

.hamburger .cross {
  flex-direction: column;
  cursor: pointer;
}

.hamburger .cross div:first-child {
  transform: rotate(45deg);
}

.hamburger .cross div:last-child {
  transform: rotate(-45deg);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #000; /* Black background */
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .profile-nav {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #000; /* Black background */
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-visible {
    display: flex;
    height: 90%;
    display: flex;
    z-index: 99;
  }
  /* .profile-nav-visible {
    display: flex;
    height: 90%;
    display: flex;
    z-index: 99;
  } */

  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .username {
    padding: 20px;
  }

  .hamburger {
    display: flex;
  }
}

/* search input */
/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #444444;
  --focus-input-bg-color: transparent;
  --text-color: #ffd700;
  --active-color: #fff;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
  margin-left: 20px;
}
/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  /* pointer-events: none; Remove this line */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,
.close-btn {
  position: absolute;
}
/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffd700;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color);
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
